.container-outer {
  margin: 10%;
  height: 90vh;
  border-radius: 5%;
  background-color: #f3f7ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-left: 10%;
}
.heading {
  flex: 0.6;

  margin-top: 5%;
}
.menu {
  margin-top: 20%;
  flex: 3;
}
.end {
  background-color: #5c65ff;
  border-radius: 5%;
  flex: 1;
  margin-right: 10%;
}
ul {
  list-style-type: none;
}
li {
  margin-top: 10%;
}
a {
  text-decoration: none;
  font-size: 120%;
  color: black;
  font-weight: 90%;
  padding-left: 10%;
}
