* {
  margin: 0;
  padding: 0%;
}
.App {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
}
.container {
  flex: 0.8;
}
.container1 {
  flex: 2;
}
.container2 {
  flex: 1;
}
.sidefloat {
  visibility: hidden;
}

@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    visibility: hidden;
  }
  .container2 {
    visibility: hidden;
  }
  .container1 {
    position: absolute;
  }
}
